@using CinemaAPI.Models;
@model Pelicula
@{
    var actores = "";
    var i = 0;

    foreach (var actor in Model.Reparto)
    {
        i++;
        if (Model.Reparto.Count() == i)
        {
            actores += actor;
        }
        else
        {
            actores += actor + ",";
        }
    }
}

<div class="row" style="background-color:white; padding-top:20px;">
    <div class="col-auto">
        <img src="@Model.Imagen"  width="250" height="260" />
    </div>
    <div class="col-8">
        <div class="row">
            <p style="font-weight:bold; margin-bottom:0px; font-size:28px;">@Model.Descripcion</p>
        </div>
        <div class="row">
            <i>Lanzamiento: @Model.Fecha</i>
        </div>
        <div class="row">
            <p style=" margin-bottom:0px; padding-top:10px;"><strong>Puntaje:</strong> @Model.Puntaje</p>
        </div>
        @if (Model.Novedad)
        {
         <div class="row">
            <p style=" margin-bottom:0px"><strong>Novedad:</strong> Si</p>
        </div>
        }
        else
        {
        <div class="row">
            <p style=" margin-bottom:0px"><strong>Novedad:</strong>  Si</p>
        </div>

        }

        <div class="row">
            <p style=" margin-bottom:0px"><strong>Genero:</strong> @Model.Genero</p>
        </div>
        <div class="row">
            <p><strong>Reparto:</strong> @actores</p>
        </div>
        <div class="row">
            <strong style="font-size:25px; padding-top:10px; padding-bottom:20px">Trailer</strong>
        </div>
        @if(Model.TrailerEmbed().Equals("NO DISPONIBLE"))
        {
            <strong style="font-size:20px">TRAILER NO DISPONIBLE</strong>

        }
        else
        {
            <div class="row">
                <iframe width="450" height="280" src="@Model.TrailerEmbed()"></iframe>
            </div>
        }
       
    </div>
</div>

